.breadcrumbs {
  display: flex;
  align-items: center;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition:
    color 0.2s ease,
    opacity 0.2s ease;
  &:hover {
    opacity: 2;
  }
}

.currentPage {
  white-space: nowrap;
}